{% extends 'base.html' %}


{%block content%} 
{% if user.is_authenticated%}
    <div class="col-md-6 offset-md-3">
    <br>
    <h1>Add new record..</h1><br><br>
    <form method="POST" action="{% url 'add_record' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="position: relative; left: 40%" class="btn btn-primary">Create</button>
    </form>
    </div>
{%else%}
 <h2>You're not allowed here mate. Go create an account first<br>
<a href="{% url 'register' %}">Create account</a></h2>
{%endif%}
{% endblock %}