{% extends 'base.html' %}


{% block content %}
<style>
.button {
    height: 40px;
    width: 80px;
    font-size: 20px;
    color: rgb(20, 20, 20);
    text-align: center;
    cursor:pointer;
  }
.button1 {
    background-color: rgba(9, 199, 151, 0.545);
    border-radius: 15px;
  }
.button:hover{
    color: white;
    background-color: rgb(42, 4, 237);
}
</style>
<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
<h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome {{request.user}}.<br> Check out new offers!!!</h1>
{% else %}
<br><br>
<h2 style="text-align: center;">Please login too se our page.</h2><br><hr>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username"
      placeholder="Enter your username" required> 
    </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
    </div>
    <a href="#">Forgot password?</a>
    <br><br>
    <div style="text-align: center;">
        <button type="submit"  class="button button1">Login</button>
    </div>
    <br>
    <p1>Don't have an account yet? <a href="{% url 'register' %}">Register now</a></p1>
</form>
</div>
{%endif%}
{% endblock %}